**Importing the libraries**

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

**Mounting Google Drive**

In [11]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

**Importing the dataset**

In [12]:
dataset = pd.read_csv('/content/gdrive/MyDrive/50_Startups.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

In [24]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

**Convert the column into categorical columns**

In [13]:
states=pd.get_dummies(X['State'],drop_first=True)

**Drop the state coulmn**

In [14]:
X=X.drop('State',axis=1)

**concat the dummy variables**

In [15]:
X=pd.concat([X,states],axis=1)

**Splitting the dataset into the Training set and Test set**

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

**Fitting Multiple Linear Regression to the Training set**

In [17]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**Predicting the Test set results**

In [20]:
y_pred = regressor.predict(X_test)

from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [21]:
print(score);

0.9347068473282423